@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article,
section{
	break-after: page;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

table{
	margin: 1em auto 1em auto;
}

td p.i1{
	padding-left: 1.5em;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

.roster{
	border-spacing: 0;
}

.roster td{
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.right-bracket-start{
	border-radius: 0 1em 0 0;
	border-right: 0.15em solid;
}

.right-bracket{
	border-right: 0.15em solid;
}

.right-bracket-end{
	border-radius: 0 0 1em 0;
	border-right: 0.15em solid;
}

.right-bracket-both{
	border-radius: 0 1em 1em 0;
	border-right: 0.15em solid;
}

.left-bracket-start{
	border-left: 0.15em solid;
	border-radius: 1em 0 0 0;
}

.left-bracket{
	border-left: 0.15em solid;
}

.left-bracket-end{
	border-left: 0.15em solid;
	border-radius: 0 0 0 1em;
}

.left-bracket-both{
	border-left: 0.15em solid;
	border-radius: 1em 0 0 1em;
}

ul li{
	list-style-type: none;
}

td#total-label{
	padding-right: 1em;
	text-align: right;
}

td#total-value{
	border-top: solid;
}

table > caption{
	font-size: 110%;
	margin-bottom: 1em;
}

table#roster-executed td:nth-of-type(2){
	text-align: center;
}

cite{
	display: inline !important;
}

th{
	font-weight: normal;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
