@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* *************************************** */
/* STANDARD EBOOKS BOILERPLATE - GENERAL.. */
/* *************************************** */
section{
	break-after: page;
}

table{
	margin: 1em auto;
}

caption{
	margin-bottom: 1em;
}

th:first-child{
	text-align: initial;
}

td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* *************************************** */
/* CUSTOM STYLING - GENERAL............... */
/* *************************************** */
p cite{
	display: inline;
}

header b{
	font-size: 1.1em;
}

[epub|type~="z3998:letter"] header [epub|type~="subtitle"]{
	/* Ch IX - Copy of Indenture Subtitle */
	font-variant: normal;
	line-height: 1.2;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	text-align: initial;
	text-indent: -1em;
}

[epub|type~="z3998:essay"] header p{
	font-size: 1.1em;
	padding-top: 1em;
}

[epub|type~="z3998:essay"] > p:first-of-type{
	margin-top: 0;
}

/* *************************************** */
/* STANDARD EBOOKS BOILERPLATE - LETTERS.. */
/* *************************************** */
[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* *************************************** */
/* CUSTOM STYLING - LETTERS............... */
/* *************************************** */
header [epub|type~="z3998:signature"]{
	margin-top: 1em;
	padding-left: 5%;
	text-align: initial;
}

footer [epub|type~="z3998:signature"] ~ [epub|type~="z3998:signature"]{
	/* multiple signatures */
	line-height: 1;
}

/* *************************************** */
/* CUSTOM STYLING - OL - ARTICLES......... */
/* *************************************** */
.articles header{
	font-variant: normal;
	text-align: center;
}

.articles ol{
	list-style-type: upper-roman;
}

.articles li{
	font-style: italic;
}

.aside{
	display: inline;
	font-style: normal;
}

/* *************************************** */
/* CUSTOM STYLING - UL.................... */
/* *************************************** */
ul{
	list-style-type: none;
	padding-left: 0;
}

ul p:first-child{
	text-indent: 1em;
}

/* *********************************** */
/* STANDARD EBOOKS BOILERPLATE - DRAMA */
/* *********************************** */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: 0.5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

/* ********************************** */
/* CUSTOM STYLING - DRAMA............ */
/* ********************************** */
[epub|type~="z3998:drama"] td:last-child{
	font-variant-numeric: normal;
	text-align: initial;
}

tr.together{
	break-inside: avoid;
}

tr.together td[epub|type~="z3998:persona"]{
	border-right: 1px solid;
	vertical-align: middle;
}

[epub|type~="z3998:drama"] tfoot tr [epub|type~="z3998:signature"]{
	padding: 0.5em 0.5em 0 0;
	text-align: right;
}

[epub|type~="z3998:drama"] tfoot tr [epub|type~="z3998:signature"] abbr{
	display: inline;
	margin: 0 0 0 1em;
}

/* ********************************** */
/* CUSTOM STYLING - TABLES........... */
/* ********************************** */
/* INTRODUCTION */
/* Contents: List of Ships Taken by the Spanish
Search (xhtml): Vessels Taken by the
Search (pdf): Fepls talen by the */
#introduction > table{
	font-size: 0.9em;
	line-height: 1;
}

#introduction td{
	padding-left: 0.5em;
	text-align: initial;
}

#introduction td:first-child{
	padding-left: 0;
}

/* Contents: List of His Majesty’s Ships
Search (xhtml): Ships and Vessels Employed
Search (pdf): Ships and Veffels envploy */

/* Rates */
#introduction > table:nth-of-type(2) .rates{
	padding-left: 0;
	text-align: center;
}

/* Ships */
#introduction > table:nth-of-type(2) .ships{
	padding-left: 0.5em;
}

/* Guns */
#introduction > table:nth-of-type(2) .guns{
	padding-left: 0;
	text-align: right;
}

/* Status */
#introduction > table:nth-of-type(2) td:last-child{
	max-width: 20em;
}

/* CHAPTER 11 */
.person{
	font-size: 1.1em;
	font-variant: small-caps;
	margin-top: 0.5em;
}

/* Contents: Men Living On Sierra Leone
Search (xhtml): Occupy
Search (pdf): Occupy */
#chapter-11 > table td{
	font-size: 0.9em;
	line-height: 1;
	text-align: start;
}

/* Shared boat(s) */
#chapter-11 > table td[rowspan]{
	border-left: 1px solid;
	padding-left: 0.5em;
}

/* Contents: Prisoners Taken in the Ranger
Search (xhtml): Prisoners Taken
Search (pdf): f rifoners taken */
/* Contents: Pirates Taken Out of the Royal Fortune
Search (xhtml): Following pirates Taken
Search (pdf): againft the followii^g */
#the-trials-of-the-pirates > table.men td{
	font-size: 0.9em;
	line-height: 1;
	padding: 0 0 0 1em;
	text-align: start;
}

/* Men’s names */
#the-trials-of-the-pirates > table.men td:first-child{
	padding-left: 0;
}

/* Time when */
#the-trials-of-the-pirates > table.men .date{
	text-align: right;
}

/* Contents: Pirates Executed at Cape Corso Castle
Search (xhtml): sentence, without
Search (pdf): sentence, without */
/* Years of Age */
#the-trials-of-the-pirates > table.men:nth-of-type(3) td:nth-child(2){
	padding: 0;
	text-align: center;
}

/* Habitations */
#the-trials-of-the-pirates > table.men:nth-of-type(3) th:last-child{
	padding-left: 0.5em;
	text-align: initial;
}

/* Oversize */
#the-trials-of-the-pirates > table.men:nth-of-type(3) span{
	font-size: 0.8em;
}

/* ******************** */
/* Contents: Summary of Prisoner Outcomes
  Search (xhtml): account of the whole
  Search (pdf): account of the whole */
#the-trials-of-the-pirates > table:nth-of-type(4) td:last-child{
	text-align: right;
}

/* Total */
#the-trials-of-the-pirates > table:nth-of-type(4) tfoot td:first-child{
	padding-right: 0.5em;
	text-align: right;
}

#the-trials-of-the-pirates > table:nth-of-type(4) tfoot td:last-child{
	border-top: 1px solid;
}

/* Kill'd Dy'd */
#the-trials-of-the-pirates > table:nth-of-type(4) td[rowspan]{
	padding-right: 0.5em;
}

#the-trials-of-the-pirates > table:nth-of-type(4) td[rowspan] + td{
	padding-left: 0;
}

/* CHAPTER 15 */
/* Contents: Prisoners Counselled by Auchmuta
Search (xhtml): Auchmuta
Search (pdf): Auchmuta
Note: Two grouping descriptions. */
#chapter-15 > table{
	font-size: 0.9em;
	line-height: 1;
}

#chapter-15 th,
#chapter-15 td{
	text-align: initial;
}

#chapter-15 th:nth-child(2),
#chapter-15 td:nth-child(2){
	text-align: center;
}

#chapter-15 td[colspan]{
	padding: 0.5em 0 0.5em 1em;
	text-indent: -0.5em;
	max-width: 28em;
}
