@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* *************************************** */
/* STANDARD EBOOKS BOILERPLATE - GENERAL.. */
/* *************************************** */
section{
	break-after: page;
}

table{
	margin: 1em auto;
}

caption{
	margin-bottom: 1em;
}

th:first-child{
	text-align: initial;
}

td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

header{
	font-variant: small-caps;
	line-height: 1;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* *************************************** */
/* CUSTOM STYLING - GENERAL............... */
/* *************************************** */
p cite{
	display: inline;
}

header b{
	font-size: 1.1em;
}

[epub|type~="z3998:letter"] header [epub|type~="subtitle"]{
	/* Ch IX - Copy of Indenture Subtitle */
	font-variant: normal;
	line-height: 1.2;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	text-align: initial;
	text-indent: -1em;
}

[epub|type~="z3998:essay"] header p{
	font-size: 1.1em;
	padding-top: 1em;
}

[epub|type~="z3998:essay"] > p:first-of-type{
	margin-top: 0;
}

/* *************************************** */
/* STANDARD EBOOKS BOILERPLATE - LETTERS.. */
/* *************************************** */
[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* *************************************** */
/* CUSTOM STYLING - LETTERS............... */
/* *************************************** */
header [epub|type~="z3998:signature"]{
	margin-top: 1em;
	padding-left: 5%;
	text-align: initial;
}

footer [epub|type~="z3998:signature"] ~ [epub|type~="z3998:signature"]{
	/* multiple signatures */
	line-height: 1;
}

/* *************************************** */
/* CUSTOM STYLING - OL - ARTICLES......... */
/* *************************************** */
.articles header{
	font-variant: normal;
	text-align: center;
}

.articles ol{
	list-style-type: upper-roman;
}

.articles li{
	font-style: italic;
}

.aside{
	display: inline;
	font-style: normal;
}

/* *************************************** */
/* CUSTOM STYLING - UL.................... */
/* *************************************** */
ul{
	hyphens: none;
	-epub-hyphens: none;
	list-style-type: none;
}

ul > li > p{
	padding-left: 1em;
	text-indent: -1em;
}

ul header{
	font-variant: small-caps;
	font-weight: bold;
}

/* *********************************** */
/* STANDARD EBOOKS BOILERPLATE - DRAMA */
/* *********************************** */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: 0.5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

/* ********************************** */
/* CUSTOM STYLING - DRAMA............ */
/* ********************************** */
[epub|type~="z3998:drama"] td:last-child{
	font-variant-numeric: normal;
	text-align: initial;
}

tr.together{
	break-inside: avoid;
}

tr.together td[epub|type~="z3998:persona"]{
	border-right: 1px solid;
	vertical-align: middle;
}

[epub|type~="z3998:drama"] tfoot tr [epub|type~="z3998:signature"]{
	padding: 0.5em 0.5em 0 0;
	text-align: right;
}

[epub|type~="z3998:drama"] tfoot tr [epub|type~="z3998:signature"] abbr{
	display: inline;
	margin: 0 0 0 1em;
}

/* ********************************** */
/* CUSTOM STYLING - TABLES........... */
/* ********************************** */
/* INTRODUCTION */
/* Contents: List of Ships Taken by the Spanish
Search (xhtml): Vessels Taken by the
Search (pdf): Fepls talen by the */
#introduction > table{
	font-size: 0.9em;
	line-height: 1;
}

#introduction td{
	padding-left: 0.5em;
	text-align: initial;
}

#introduction td:first-child{
	padding-left: 0;
}

/* Contents: List of His Majesty’s Ships
Search (xhtml): Ships and Vessels Employed
Search (pdf): Ships and Veffels envploy */

/* Rates */
#introduction > table:nth-of-type(2) .rates{
	padding-left: 0;
	text-align: center;
}

/* Ships */
#introduction > table:nth-of-type(2) .ships{
	padding-left: 0.5em;
}

/* Guns */
#introduction > table:nth-of-type(2) .guns{
	padding-left: 0;
	text-align: right;
}

/* Status */
#introduction > table:nth-of-type(2) td:last-child{
	max-width: 20em;
}

/* CHAPTER 3 */
/* Contents: Pirates Killed in the Engagement
Search (xhtml): pirates killed
Search (pdf): Pyrates killed
Note: Contains 2 sublists */
ul li div ul li{
	line-height: 1;
}

/* CHAPTER 4 */
/* Contents: Persons Arraigned and Tried
Search (xhtml): arraigned and
Search (pdf): arraigned and */
ul.men > li > p{
	font-size: 0.9em;
	line-height: 1;
}

/* CHAPTER 5 */
/* Contents: Ships Taken by Rovers to Africa
Search (xhtml): rovers returned
Search (pdf): Rovers' returned */
ul.not-men > li > p{
	line-height: 1;
	padding-bottom: 0.5em;
	text-indent: 1em;
}

/* CHAPTER 11 */
.person{
	font-size: 1.1em;
	font-variant: small-caps;
	margin-top: 0.5em;
}

/* Contents: Men Living On Sierra Leone
Search (xhtml): Occupy
Search (pdf): Occupy */
#chapter-11 > table td{
	font-size: 0.9em;
	line-height: 1;
	text-align: start;
}

/* Shared boat(s) */
#chapter-11 > table td[rowspan]{
	border-left: 1px solid;
	padding-left: 0.5em;
}

/* Contents: Members of the Court
Search (xhtml): court consisted
Search (pdf): Court conliftecl */
#the-trials-of-the-pirates div:first-of-type > ul > li > p{
	font-size: 1em;
}

/* Contents: Prisoners Taken in the Ranger
Search (xhtml): Prisoners Taken
Search (pdf): f rifoners taken */
/* Contents: Pirates Taken Out of the Royal Fortune
Search (xhtml): Following pirates Taken
Search (pdf): againft the followii^g */
#the-trials-of-the-pirates > table.men td{
	font-size: 0.9em;
	line-height: 1;
	padding: 0 0 0 1em;
	text-align: start;
}

/* Men’s names */
#the-trials-of-the-pirates > table.men td:first-child{
	padding-left: 0;
}

/* Time when */
#the-trials-of-the-pirates > table.men .date{
	text-align: right;
}

/* Contents: Pirates Executed at Cape Corso Castle
Search (xhtml): sentence, without
Search (pdf): sentence, without */
/* Years of Age */
#the-trials-of-the-pirates > table.men:nth-of-type(3) td:nth-child(2){
	padding: 0;
	text-align: center;
}

/* Habitations */
#the-trials-of-the-pirates > table.men:nth-of-type(3) th:last-child{
	padding-left: 0.5em;
	text-align: initial;
}

/* Oversize */
#the-trials-of-the-pirates > table.men:nth-of-type(3) span{
	font-size: 0.8em;
}

/* Contents: Drawn Out Indentures <br>
  Search (xhtml): exchanged the Indentures 
  Search (pdf): exchanged the Indentures */
#the-trials-of-the-pirates div:nth-of-type(19) > ul > li > p{
	font-size: 0.9em;
	line-height: 1;
}

/* ******************** */
/* Contents: Summary of Prisoner Outcomes
  Search (xhtml): account of the whole
  Search (pdf): account of the whole */
#the-trials-of-the-pirates > table:nth-of-type(4) td:last-child{
	text-align: right;
}

/* Total */
#the-trials-of-the-pirates > table:nth-of-type(4) tfoot td:first-child{
	padding-right: 0.5em;
	text-align: right;
}

#the-trials-of-the-pirates > table:nth-of-type(4) tfoot td:last-child{
	border-top: 1px solid;
}

/* Kill'd Dy'd */
#the-trials-of-the-pirates > table:nth-of-type(4) td[rowspan]{
	padding-right: 0.5em;
}

#the-trials-of-the-pirates > table:nth-of-type(4) td[rowspan] + td{
	padding-left: 0;
}

/* CHAPTER 15 */
/* Contents: Court Members
Search (xhtml): following gentlemen
PDF: following Gentlemen */
ul:nth-child(41) > li > p{
	font-size: 0.9em;
	line-height: 1;
	padding-left: 2em;
	text-indent: -2em;
}

/* Contents: Prisoners Counselled by Auchmuta
Search (xhtml): Auchmuta
Search (pdf): Auchmuta
Note: Two grouping descriptions. */
table.col-3.men{
	font-size: 0.9em;
	line-height: 1;
}

table.col-3.men:first-of-type td,
table.col-3.men:first-of-type th{
	margin: 0;
	padding: 0;
	text-align: initial;
}

table.col-3.men:first-of-type td:only-child{
	padding: 0.5em 0 0.5em 0.5em;
}

/* Prisoners’ Names */
table.col-3.men:first-of-type thead tr th:nth-of-type(1),
table.col-3.men:first-of-type tbody tr td:nth-of-type(1){
	max-width: 27em;
	padding-right: 0.5em;
	width: fit-content;
}

/* Age */
table.col-3.men:first-of-type thead th:nth-of-type(2),
table.col-3.men:first-of-type tbody tr td:nth-of-type(2){
	max-width: 4em;
	min-width: 3em;
	text-align: center;
	width: fit-content;
}

/* Place of Birth */
table.col-3.men:first-of-type thead tr th:nth-of-type(3),
table.col-3.men:first-of-type tbody tr td:nth-of-type(3){
	max-width: 25em;
	padding-left: 0.5em;
	width: fit-content;
}

/* Oversize */
table.col-3.men:first-of-type tbody tr:nth-of-type(1) td:nth-of-type(1),
table.col-3.men:first-of-type tbody tr:nth-of-type(21) td:nth-of-type(1),
table.col-3.men:first-of-type tbody tr:nth-of-type(28) td:nth-of-type(1),
table.col-3.men:first-of-type tbody tr:nth-of-type(34) td:nth-of-type(1){
	font-size: 0.8em;
}
