@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* SEMOS BOILERPLATE - BEGIN */
article,
section{
	break-after: page;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* begin dialog */
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

tr.together{
	break-inside: avoid;
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td + td{
	border-left: 1px solid;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}
/* end dialog */

/* SEMOS BOILERPLATE - END */
p cite{
	display: inline;
}

/* UNORDERED LISTS - BEGIN */
ul{
	padding-left: 0;
}

ul li{
	/* all unbulletted */
	list-style-type: none;
}

i[epub|type~="z3998:persona"]{
	/* name under a listed person */
	font-style: italic;
	font-variant: normal;
}

i[epub|type~="z3998:persona"] abbr{
	font-style: normal;
}
/* end - name under a listed person */

figure{
	/* grouped list, centered, dual-headers */
	margin: 1em auto;
	text-align: center;
}

figure ul{
	display: inline-block;
	text-align: initial;
}

figure li > p{
	padding-left: 1em;
}

figure ul header{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
/* end grouped list */
/* END UNORDERED LISTS */

/* Grouped Table Begin */
table.grouped{
	border-spacing: 0;
	margin: 1em auto 1em auto;
}

table.grouped th{
	font-variant: all-small-caps;
	font-weight: normal;
}

table.grouped caption{
	margin-bottom: 0.5em;
}

table.grouped td{
	border-width: 0.1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

table.grouped td p.i1{
	padding-left: 1em;
}

td.left{
	border-left-style: solid;
}

td.right{
	border-right-style: solid;
}

td.left.start{
	border-radius: 1em 0 0 0;
	page-break-after: avoid;
	page-break-before: auto;
}

td.right.start{
	border-radius: 0 1em 0 0;
	page-break-after: avoid;
	page-break-before: auto;
}

td.left.end{
	border-radius: 0 0 0 1em;
	page-break-after: auto;
	page-break-before: avoid;
}

td.right.end{
	border-radius: 0 0 1em 0;
	page-break-after: auto;
	page-break-before: avoid;
}

td.left.both{
	border-radius: 1em 0 0 1em;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: avoid;
}

td.right.both{
	border-radius: 0 1em 1em 0;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: avoid;
}

/* Grouped Table End */
/* Totaled Table Begin */
tfoot tr td:nth-child(1){
	padding-right: 1em;
	text-align: right;
}

tfoot tr td:nth-child(2){
	border-top: 0.1em solid;
}

/* Totaled Table End */
/* Pirate Articles Begin */
ol[epub|type~="notice"]{
	font-style: italic;
}

[epub|type~="notice"] > header > p{
	font-size: 1.1em;
	font-style: normal;
	font-variant: normal;
}

[epub|type~="notice"] aside{
	display: inline;
	font-style: normal;
}

/* Pirate Articles End */
/* BEGIN PROOFING */
time{
	border: 2px dotted red;
}

abbr{
	border: 2px dotted blue;
}

blockquote{
	border: 1px dotted green;
}
/* END PROOFING */
